environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0

image: Visual Studio 2017

cache:
  - C:\Users\appveyor\.gradle

test_script:
 - gradlew test --info --stacktrace --no-daemon

artifacts:
  - path: 'core\build\libs\*.jar'
    name: jimgui-core
  - path: 'kotlin-dsl\build\libs\*.jar'
    name: jimgui-dsl
#
